<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/main.css">
	<link rel="stylesheet" href="css/media.css">
	<link rel="stylesheet" href="libs/swiper/swiper-bundle.min.css">
	<script src="js/app.js" defer></script>
	<script src="js/rain.js" defer></script>

</head>
<body>



	<section class="layers">
		<div class="layers__container">
			<div class="layers__item layer-1" style="background-image: url(img/layer5.jpg);"></div>
			<div class="layers__item layer-2" style="background-image: url(img/layer4.png);"></div>
            <div class="layers__item layer-3" style="background-image: url(img/layer3.png);"></div>
			<div class="layers__item layer-4">
				<div class="hero-content">
					<h1 >Ivan <span>Bolkhovskii</span></h1>
					<div class="hero-content__p">Python BACKEND DEVELOPER</div>
					<button class="button-start">My Portfolio</button>
				</div>
			</div>
			<div class="rain_on">
				<canvas class="rain"></canvas>
			</div>
			<div class="layers__item layer-6" style="background-image: url(img/layer2.png);"></div>
			<div class="layers__item layer-7" style="background-image: url(img/layer1.png);"></div>
		</div>
	</section>
	<div class="about">


		<div class="glitch_text">
			<div class="glitch" data-text="MY GITHUB">MY GITHUB</div>

			<p class="about_p">https://github.com/User02081994</p>
		</div>
		<div class="foto_text">
		<div class="text_me">
			<h1 class="text_me_p " >< CODE ></h1>
			<p class="p_content">Beginner backend developer in Python. Here I will post all my projects that I have ever done and will share detailed information on future projects</p>
			</div>
				<div class="foto">
				<img class='myphoto' src="img/layer4.png" width="450px" height="250px" >
			</div>
			<div class="text_me_2" >
				<h1 class="text_me_p ">< Life ></h1>
				<p class="p_content">Hello everyone, I’m a programmer from Krasnodar, I started studying in 2023, it’s been very interesting to work with code since childhood, but there was no opportunity, now I devote all my free time to code</p>
			</div>


		</div>
		<div class="wrapped">
		<div class="arrow">
			<img src="img/arrow.png" alt="arr">
		</div>
		</div>
		
	</div>
	<section class="portfolio">
		<div class="glitch_text">
			<div class="glitch" data-text="PORTFOLIO"> PORTFOLIO </div>
		</div>
	</section>



	<section class="slider_one">

			<h2 class="slider_header">Work <span>Done</span></h2>

			<div class="slider-wrapper">

				<div class="slider">

					<div class="slider-carousel">

						<div class="swiper-wrapper">

							<div class="swiper-slide slider-carousel__item">


								<div class="slider-carousel__image" >
									<img src="img/landing1.png" alt="landing1" width="400px" height="300px">
								</div>


							</div>
							<div class="swiper-slide slider-carousel__item">

								<div class="slider-carousel__image" >
									<img src="img/landing2.png" alt="landing" width="400px" height="300px">
								</div>

							</div>
							<div class="swiper-slide slider-carousel__item">

								<div class="slider-carousel__image" >
									<img src="img/landing3.png" alt="landing3" width="400px" height="300px">
								</div>


							</div>

						</div>

					</div>

				</div>
			</div>


			<video src="videos/smoke-background-optimized.mp4" class="slider_video" autoplay loop muted></video>



	</section>
	<section class="footer">
		<div class="social">
			<div class="soc_vk">

				<a href="#"> <img src="img/vk.png" width="60px" height="60px"> </a>
			</div>
			<div class="soc_inst">

				<a href="#"> <img src="img/instagram.png" width="60px" height="60px"> </a>
			</div>
			<div class="soc_tg">

				<a href="#"> <img src="img/telegram.png" width="60px" height="60px"> </a>
			</div>
			<div class="soc_github">

				<a href="#"> <img src="img/GitHub.png" width="100px" height="60px"> </a>
			</div>
			<div class="soc_twitter">

				<a href="#"> <img src="img/twitter.png" width="60px" height="60px"> </a>
			</div>
		</div>
	</section>


	<script src="libs/swiper/swiper-bundle.min.js" width="60px" height="60px"></script>

	<script src="js/common.js"></script>

</body>
</html>